  <app-cup-event></app-cup-event>
  <app-result [m]="match"></app-result>
  
  <div class="latest-news">
    <div class="container">
      <div class="row">
        <div class="col-12 title-section">
          <h2 class="heading">Latest News</h2>
        </div>
      </div>
      <div class="row no-gutters">
        <div *ngFor="let player of latestPlayers" class="col-md-4">
          <app-info [p]="player"></app-info>
        </div>
        
      </div>
    </div>
  </div>
  
  <app-standings></app-standings>
  <app-blog></app-blog>